@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Creepster&family=Dhurjati&family=Electrolize&family=Germania+One&family=Metal+Mania&family=Press+Start+2P&family=Russo+One&family=Secular+One&display=swap');
/* font-family: 'Creepster', cursive;
font-family: 'Dhurjati', sans-serif;
font-family: 'Electrolize', sans-serif;
font-family: 'Germania One', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Russo One', sans-serif; */

.body {
    background-color: black;
    background-image: url("images/square-dungeon-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
.game-title, .play-title {
    font-family: 'Metal Mania', cursive;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 32px #000000;
}

.cust-title {
    font-family: 'Metal Mania', cursive;
    width: 100%;
    text-align: center;
    height: auto;
    text-align: center;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 32px #000000;
    
}

.btn {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: transparent;
    margin: 1em 0em;
}

#rt-mm {
    background-color: red;
    color: white;
    margin-left: 1em;
    margin-top: 1%;
}

button:hover {
    border-color: yellow;
}

.btn-group-vertical {
    width: 75%;
    height: 100%;
    padding-left: 25%;
    padding-bottom: 15%;
}

.main-menu {
    background-color: black;
    padding: 5% 30%;
    height: 100%;
    width: 100%;
}

  .left {
    float: left;
    height: auto;
    width: 20%;
    text-align: right;
    margin-top: 10%;
    /* background-color: aliceblue; */
  }

  .middle {
    float: left;
    width: 60%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    /* background-color: aliceblue; */
  }

  .player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  .right {
    float: right;
    width: 20%;
    height: auto;
    margin-top: 10%;
    /* background-color: aliceblue; */
  }

  .cust-btn-group {
      text-align: center;
      float: bottom;
  }

.btn-btn-danger {
    background-color: red;
    color: white;
    margin-left: 1em;
    margin-top: 1%;
}

span {
    font-size: 50px;
    color: yellow;
    border-color: transparent;
}

span:hover {
    color: yellow;
    border-color: transparent;
}

.progress {
    width: 50%;
    margin-left: 25%;
    color: green;
}

.in-g-body {
    background-image: url(images/top-down-char.png), url(images/square-dungeon-bg.jpg);
    background-position: center bottom, center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    animation: none;
    background-color: black;
}

.grid-container {
    display: grid;
    width: 50%;
    text-align: center;
    color: black;
    height: auto;
    
    padding-left: 30%;
}

.ws-body {
    background-image: url(images/top-down-char.png), url(images/square-dungeon-bg.jpg);
    background-position: center bottom, left bottom;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    
    animation: none;
}